@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string CoverPicture { get; set; }

    [Parameter]
    public DateOnly Date { get; set; }

    [Parameter]
    public string Venue { get; set; }

    [Parameter]
    public int? AttendeesPercentage { get; set; }
}

<li class="card card-compact w-96 bg-base-100 shadow-xl hover:shadow-primary">
    <figure class="relative w-full max-h-[240px]">
        <img src="https://picsum.photos/400" alt="Event Cover picture of @Title" />
    </figure>
    <div class="card-body">
        <h2 class="card-title justify-start">@Title</h2>
        <p>@Date at @Venue</p>
        <div class="card-actions">
            <button class="btn btn-primary btn-block">Activate</button>
        </div>
    </div>
</li>
