name: dotnet package

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET from global.json
        uses: actions/setup-dotnet@v4
        with:
          global-json-file: global.json
          cache: true
          cache-dependency-path: |
            **/*.sln
            **/*.csproj
            **/packages.lock.json
            Directory.Packages.props

      - name: Display dotnet version
        run: dotnet --version